#groot {
    height: 400px;
    position: fixed;
    bottom: 48px;
    right: -48px;
}

body {
    background-color: yellow;
}

.registration-page h1 {
    text-align: center;
    text-transform: uppercase;
    border-top: thin solid #ddd;
    border-bottom: thin solid #ddd;
    padding: 20px 0;
}